appdirs
packaging
Django
Django-Select2
Faker
Pillow
awesome-slugify
celery
django-autoslug
django-bootstrap3
django-braces
django-celery-email
django-ckeditor
django-compressor
django-countries
django-crispy-forms
django-debug-panel
django-debug-toolbar
django-extensions
django-grappelli
django-htmlmin
django-imagekit
django-model-utils
django-recaptcha
django-redis
django-widget-tweaks
djangorestframework
flower
gunicorn
html5lib
ipython
psycopg2
redis