{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">TI</h1>

            </div>
            <h3>Change password</h3>
            <p>Threat Intelligence - Professional Services - Advanced Threat Analysis</p>
            <form class="m-t" role="form" method="post">
            {% csrf_token %}
                <div class="form-group">
                    {% render_field form.old_password class+="form-control" placeholder=form.old_password.label %}
                </div>
                <div class="form-group">
                    {% render_field form.new_password1 class+="form-control" placeholder=form.new_password1.label %}
                </div>
                <div class="form-group">
                    {% render_field form.new_password2 class+="form-control" placeholder=form.new_password2.label %}
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Submit</button>

            </form>
            <p class="m-t"> <small>Threat Informant &copy; 2017</small> </p>
        </div>
    </div>
{% endblock body %}



{% block additional_scripts %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <script type="text/javascript">
                toastr["warning"]("{{ error|escape }}")
            </script>
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock additional_scripts %}
